@use "../../tokens/variables" as *;
@use "../../recipes/layout" as layout;
@use "../../recipes/prose" as prose;

.list {
  margin: 0;
  padding: 0;
}

// Variants
.none {
  @include prose.list("none");
}

.disc {
  @include prose.list("disc");
}

.decimal {
  @include prose.list("decimal");
}

.icon {
  @include prose.list("icon");
}

// Gap variants
.gap-none {
  row-gap: layout.gap("none");
}

.gap-xs {
  row-gap: layout.gap("xs");
}

.gap-sm {
  row-gap: layout.gap("sm");
}

.gap-md {
  row-gap: layout.gap("md");
}

.gap-lg {
  row-gap: layout.gap("lg");
}

// List item
.item {
  color: var(--fui-text-primary, $fui-text-primary);
}

.iconItem {
  align-items: start;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-inline-size: var(--fui-raw-space-12);
}

.itemContent {
  min-inline-size: 0;
}
