@use '../../tokens/variables' as *;
@use '../../tokens/mixins' as *;
@use '../../recipes/typography';

.root {
  @include form-group-surface;

  display: flex;
  flex-direction: column;
  gap: 0;
  padding: var(--fui-surface-inset-default, 16px);
  margin: 0;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.legend {
  @include typography.role("ui-standard");

  color: var(--fui-text-secondary, $fui-text-secondary);
  padding: 0;
  margin-block-end: var(--fui-raw-space-16, 16px);

  &:has(+ .description) {
    margin-block-end: var(--fui-raw-space-4, 4px);
  }
}

.description {
  @include typography.role("caption");

  margin: 0 0 var(--fui-raw-space-16, 16px);
  color: var(--fui-text-secondary, $fui-text-secondary);
}
