@use "../../tokens/variables" as *;
@use "../../tokens/measurements.generated" as measurements;
@use "../../recipes/layout";

.group {
  display: flex;
  flex-direction: row;
}

// Gap sizes
.gapNone {
  gap: var(--fui-raw-space-0, #{measurements.raw-space(0)});

  > * {
    position: relative;
  }

  > *:not(:first-child) {
    margin-inline-start: calc(-1 * var(--fui-stroke-hairline, #{$fui-stroke-hairline}));
    border-start-start-radius: var(--fui-radius-none, #{$fui-radius-none});
    border-end-start-radius: var(--fui-radius-none, #{$fui-radius-none});
  }

  > *:not(:last-child) {
    border-start-end-radius: var(--fui-radius-none, #{$fui-radius-none});
    border-end-end-radius: var(--fui-radius-none, #{$fui-radius-none});
  }

  > *:hover,
  > *:focus-visible {
    z-index: 1;
  }
}

.gap-xs {
  gap: layout.gap("xs");
}

.gap-sm {
  gap: layout.gap("sm");
}

.gap-md {
  gap: layout.gap("md");
}

// Wrap
.wrap {
  flex-wrap: wrap;
}

// Alignment
.align-start {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-end {
  justify-content: flex-end;
}
